* {
    padding: 0;
    margin: 0;
    font-family: pixel;
}

body {
    background-image: url(https://media.istockphoto.com/vectors/retro-neon-background-with-80s-styled-laser-grid-and-stars-vector-id1140828326?k=20&m=1140828326&s=612x612&w=0&h=Lr8emBoEVyktilfc8USOINtfj3kM3qwNiwQzBFhZmi8=);
    background-repeat: repeat;
}

@font-face {
    font-family: pixel;
    src: url(../font/PressStart2P.ttf);
}

header {
    background-color: rgb(0, 0, 0);
}



.logo {
    background-image: url(https://previews.123rf.com/images/pskov/pskov1711/pskov171100040/90065725-pixel-art-dithering-background-in-red-and-orange-color-.jpg);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 166, 0, 0);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 3%;
    font-size: 25px;
}

main {
    background-color: rgb(204, 204, 204);
    margin: 0 12rem;
    height: 58rem;
}

.game-container {
    padding-top: 3rem;
    background-color: rgba(255, 255, 255, 0);
}

.game-box {

    height: 40rem;
    border: .5rem solid rgb(0, 0, 0);
    margin: 0 2rem;
    background-color: rgb(0, 0, 0);

}


.game-content{
    height: 100%;
    width: 100%;
}


.game{
    height: 100%;
    width: 100%;
}


