* {
    margin: 0;
    padding: 0;
    font-family: pixel;
}

@font-face {
    font-family: pixel;
    src: url(/font/PressStart2P.ttf);
}

.geet {
    border-right: solid 2px rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    animation: animated-text 3s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 940px;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

button:hover {
    
    border-collapse: separate;
    cursor: pointer;
    -webkit-animation: blink-text 800ms linear infinite;
    -moz-animation: blink-text 800ms linear infinite;
    -ms-animation: blink-text 800ms linear infinite;
    -o-animation: blink-text 800ms linear infinite;
    animation: blink-text 800ms linear infinite;
}

.start-coin {
    color: tomato;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@-webkit-keyframes blink-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



.type {
  font-size: 22px;
    color:#0000;
    background:
      linear-gradient(-90deg,#FF7E00 5px,#0000 0) 10px 0,
      linear-gradient(#ffffff 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.09s) steps(var(--n)) forwards;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }




.arrow {
    -webkit-animation: action .3s infinite  alternate;
    animation: action .3s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}